.outerContainer {
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 1rem;
    align-items: flex-start;
  }
}

.outerContainerForEmptyNotes {
  .emptyNotes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: fit-content;

    .addNotesIcons {
      width: 100px;
      height: 100px;
      filter: brightness(50%);
    }

    .addNotesText {
      filter: brightness(50%);
    }
  }
}
